@import url("https://use.typekit.net/jmk3xov.css");


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: rgb(0, 0, 0);
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
   width: 100%!important;
   height: 100%!important;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
    min-width: 360px;
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    /*background-image: url("assets/mesh-gradient-bg.png");*/
    /*background: linear-gradient(to right, #232526, #414345);*/
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
    min-width: 300px;
    border-radius: 16px;
    box-shadow: 0 10px 50px rgb(0 0 0 / 10%);
    backdrop-filter: blur(15px);
    border: 3px solid hsl(60deg 73% 77%);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }
  a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid hsl(60deg 73% 77%);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
  }
  
  a:hover, a:active {
    background-color: rgb(224, 99, 54);
    color: white;
  }
